@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');

/* =====    General Set Up     ===== */

/*   *  <- means entire page */
/*   :  <- means before or after, for CLASSES
     :: <- means before or after, for ELEMENTS*/
*,*::before, ::after
{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

html 
{ 
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body
{
    text-align: center;
    background-color:rgba(236, 232, 251, 0.609);
}

/* =====      LOGO SECTION      ===== */
.header-logo
{
    width: 100%;
    height: 160px;
}

.header-logo img
{
    height: 140px;
    width: 100%;
}

.header-logo section
{
    background: linear-gradient(180deg, rgba(235,235,234,1) 20%, rgba(235, 235, 234, 0.815) 40%, rgba(248,249,250,1) 56%);
    height: 40px;
}

/* =====      NAV SECTION      ===== */
ul 
{
    list-style: none;
    background-color: #a2abb1;
    padding-bottom: 60px;
    position: relative;
    background-color: rgba(248,249,250,1);
    margin-bottom: 0px !important;
}

li
{
    float: left;
    position: relative;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16pt;
    display: block;
}

li.dropdown
{
    padding: 8px 16px !important;
}

ul a
{
    text-decoration: none;
    color: black;
    position: relative;
}

ul a:hover
{
    background-color: rgba(129, 129, 235, 0.767);
    padding: 10px 16px;
    color: white;
    border-radius: 3px;
    transition: 0.4s;
}

.dropbtn
{
    padding: 10px 16px;
}

.dropdown a
{
    display: block;
    padding: 6px 12px;
}

.dropdown .dropbtn:hover
{
    display: block;
    padding: 8px 19px;
}

.dropdown-content
{
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content
{
    display: block;
    position: absolute;
    background-color: rgb(208, 208, 250);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
    text-align: center;
    width:max-content;
}


/* =====      HEADER SECTION      ===== */
header a 
{
    cursor: pointer;
}

.home-title
{
    text-align: center;
    background-image: url(../images/home-title.png);
    background-size: cover;
    height: 550px;
    background-color:rgba(240, 248, 255, 0) !important;
}

h1, h2, h3
{
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
}
.home-title h1
{
    padding-top: 90px;
    /* text-decoration: underline; */
    font-size: 4.8rem !important;
    color: rgb(56, 55, 55);
}
.home-title h3
{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    text-decoration: wavy !important;
} 


/* =====      MAP/MATH SECTION      ===== */
.mid-flexbox
{
    display: flex;
    flex-direction: row;
}

.covid-map
{
    padding-top: 70px;
    width: 63%;
}
/* Math portion has own CSS doc*/

/* =====      FOOTER SECTION      ===== */
footer
{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer a 
{
    padding-left: 15px;
    padding-right: 15px;
}

footer input
{
    border-radius: 6px;
    height: 38px;
}

button
{
    border-radius: 8px !important;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(208, 208, 250);
    height: 38px;
}
button:hover
{
    background-color: rgb(129, 129, 235);
    color: white;
}

hr
{
    width: 75%;
    margin: auto !important;
}

#oneFooter   {order: 1}
#twoFooter   {order: 2}
#threeFooter {order: 3}
#fourFooter  {order: 4;
    padding-left: 13px}
