/* =====       BOX FLEX SECTION on HOME page      ===== */

/* == Static Set-Up Specifications == */
.mid-boxes-flex
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
}
.flex-box
{
    text-align: center;
    text-decoration: none;
    padding-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(208, 208, 250);
    border-style: none solid solid none;
    border-width: 1px;
    border-radius: 7px;
    border-color: rgba(70, 68, 77, 0.808);
    transition-duration: 0.2s;
    height: 450px;
}
#one, #two, #three 
{
    /* Necessary for all 3 flexboxes to span evenly */
    flex-grow: 1;
}

.bottom-img
{
    position: relative;
    z-index: 1;
    height: 270px;
    width: 400px;
    box-shadow: 0 0 10px rgba(46, 33, 235, 0.911);
}
.top-img
{
    position: relative;
    opacity: 0;
    z-index: 2;
    left: 0px;
    height: 250px;
    width: 405px;
    top: -276px;
    box-shadow: 0 0 20px rgba(225, 240, 162, 0.911);
}


/* == Flex Box Typography Specifications == */
.flex-box h3
{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-box span
{
    /*space between descrpition and photo*/
    padding-bottom: 1em;
}


/* == Flex Box ANIMATIONS == */
.flex-box:hover
{
    background-color: rgb(129, 129, 235);
}

.flex-box span 
{
    font-family: 'Montserrat', sans-serif;
    color: rgb(42, 40, 40);
    cursor: pointer;
    display: inline-block;
    position: relative;
    /*The transition needs to be > 0 because if not,
    it will go straight to the color and skip the 'special- effects' look*/
    transition: 0.5s;
}
.flex-box span:after 
{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.flex-box:hover span 
{
    padding-right: 25px;
    color: white !important;
}
.flex-box:hover span:after 
{
    opacity: 1;
    right: 0;
}

.flex-box:hover .bottom-img
{
    /* display:block; */
    opacity: 0;
    transition-duration: 0.7s;
}
.flex-box:hover .top-img
{
    /* display:block; */
    opacity: 1;
    transition-duration: 0.6s;
    transform:perspective();
    height: 275px;
}
/* 
Want photo to transition slowly AFTER hovered on - NOT WORKING 

.flex-box:hover .top-img:after
{
    /* display:block;
    transition-duration: 1s;
    transform:perspective();
} */