@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@200&display=swap');


/* =====      GENERAL MATH SECTION      ===== */
.math-section
{
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 12px;
    text-align: center;
    justify-content: center;
    width: 33%;
    background-color: rgba(245, 247, 135, 0.527);
    border-radius: 4px;
    box-shadow: -13px -5px 5px rgba(93, 83, 240, 0.822);
}

/* =====      VALUE PROMPT (side/length/height) SECTION      ===== */
.math-dropdown
{
    border-radius: 3px !important;
    height: 38px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: lavender;
}

.shape-title
{
    /* text-decoration: underline; */
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-left: 3em;
}

#input-1, #input-2, #input-3
{
    visibility: hidden;
    width: 8em;
    margin: 6px;
}

#calculate-button
{
    visibility: hidden;
    margin-bottom: 5px;
}

#areaORerror-display
{
    visibility: 'visible';
}

/* =====      SHAPES SECTION       ===== */
.shapes
{
    background-color: rgb(90, 207, 228);
    background-color: rgb(97, 231, 236);

}